h1 {
  text-align: center;
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h2 {
  text-decoration: underline;
  text-align: center;
  font-style: italic;
}

body {
  background-color:burlywood;
}

span {
  font-style: italic;
}

.p1 p {
  float: right;
  width: 40%;
  margin: 12px;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
  margin-right: 100px;;
}

.eastandwest {
  margin-top: 100px;
  border-radius: 50px;
}

.me1 {
  margin-left: 100px;
  width: 30%;
  border: 5px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50px;
}
  
.p2 {
  margin-left: ;
  margin-top: 40px;
  width: 100%;
  margin: 12px;
  padding: 4px;
  box-sizing: border-box;
}

.p2 img {
  float: right;
  width: 40%;
  border: 5px;
  margin-right: 120px;
  border-radius: 50px;;
}


